<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Delicious - Food Blog Template | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="upload-receipe.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="img/core-img/salad.png" alt="">
    </div>

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.ejs"><img src="img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="index.ejs">Home</a></li>
                                    <li><a href="upload-receipe.ejs">Upload Receipies</a>
                                    </li>
                                    <li><a href="receipe-post.ejs">Receipies</a></li>
                                    <!-- <li><a href="receipe-post.ejs">4 Vegans</a></li> -->
                                    <li><a href="contact.ejs">Contact</a></li>
                                </ul>

                                <!-- Newsletter Form -->
                                <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <main>
        <div class="recform">
            <div class="recform-container">
                <h2>Share Your Recipe</h2>
                <div class="places">
                    <form method="post" action="/upload" enctype="multipart/form-data">
                        <!-- receipe name -->
                        <div class="form-group">
                            <label>Recipe Name</label>
                            <input type="text" name="recipe_name" placeholder="Enter recipe name">
                        </div>
                        <!-- dish type -->

                        <div class="form-group">
                            <label for="dishType">Dish Type</label>
                            <select id="dishType" name="dish_type">
                                <option value="" disabled selected>Select your dish type</option>
                                <option value="appetizer">Appetizer</option>
                                <option value="main_course">Main Course</option>
                                <option value="dessert">Dessert</option>
                            </select>
                        </div>

                        <!-- preparation time -->
                        
                        <div class="form-group">
                            <label>Preparation time</label>
                            <input type="text" name="preparation_time" placeholder="ex: 20min">
                        </div>
                        <div class="form-group">
                            <label>No. of Servings</label>
                            <input type="text" name="no_of_servings" placeholder="ex: 4">
                        </div>
                        <div class="form-group">
                            <label>Cooking Time</label>
                            <input type="text" name="cooking_time" placeholder="ex: 40min">
                        </div>
                        <div class="form-group">
                            <label>Shelf life</label>
                            <input type="text" name="shelf_life" placeholder="enter in hr">
                        </div>
                        
                        <!-- Image Drop Area -->
                        <div class="form-group">
                            <label>Recipe Images</label>
                            <div class="image-drop-area" id="imageDropArea">
                                <p>Drag & Drop Images Here or Click to Upload</p>
                                <input type="file" id="imageUpload" name="recipe_images" accept="image/*" multiple>
                            </div>
                        </div>                        
                        <!-- ingrediant -->

                        <div class="ingredients-section">
                            <div class="ingredient-input-container">
                                <label for="ingredientInput">Ingredients</label>
                                <input type="text" id="ingredientInput" placeholder="Enter an ingredient">
                                <button type="button" id="addIngredientBtn">Add</button>
                            </div>
                            <ul id="ingredientsList"></ul>
                            <input type="hidden" name="ingredients" id="ingredientsField">
                        </div>

                        <!-- step of receipe -->
                        
                        <div class="steps-section">
                            <div class="step-input-container">
                                <label for="stepInput">Recipe Steps</label>
                                <input type="text" id="stepInput" placeholder="Enter a step">
                                <button type="button" id="addStepBtn">Add</button>
                            </div>
                            <ul id="stepsList"></ul>
                            <input type="hidden" name="steps" id="stepsField">
                        </div>
                        <!-- name -->
                        <div class="form-group">
                            <label>Your Name</label>
                            <input type="text" name="your_name" placeholder="Enter your name">
                        </div>
                        <!-- email id -->
                        <div class="form-group">
                            <label>Email Id</label>
                            <input type="text" name="email" placeholder="Enter email">
                        </div>

                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Footer Social Info -->
                    <div class="footer-social-info text-right">
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="index.ejs"><img src="img/core-img/logo.png" alt=""></a>
                    </div>
                    <!-- Copywrite -->
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="upload-receipe.js"></script>
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>
